<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 12

The df DataFrame is given below:


                   currency
    0            [PLN, USD]
    1  [EUR, USD, PLN, CAD]
    2                 [GBP]
    3       [JPY, CZK, HUF]
    4                    []


Assign a new column 'number' that takes the number of items in the currency column.

In response, print df DataFrame to the console.


Expected result:


                   currency  number
    0            [PLN, USD]       2
    1  [EUR, USD, PLN, CAD]       4
    2                 [GBP]       1
    3       [JPY, CZK, HUF]       3
    4                    []       0

In [9]:
import pandas as pd

df = pd.DataFrame(data ={ 'currency' : [ ['PLN', 'USD'],
                                 ['EUR', 'USD', 'PLN', 'CAD'] ,
                                 ['GBP'],
                                 ['JPY', 'CZK', 'HUF'],
                                 [] ]})
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [10]:
df['number'] = df['currency'].apply(len)
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0