<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 25

The df DataFrame is given below:


      size  color  gender  price  weight bought
    0   XL    red  female  199.0     500    yes
    1    L  green    male   89.0     450     no
    2    M   blue    male   99.0     300    yes
    3    L  green  female  129.0     380     no
    4    M    red  female   79.0     410    yes


Using the LabelEncoder class from the scikit-learn package encode target variable - bought as shown below and assign the result to the df DataFrame.

In response, print the df DataFrame to the console.


Tip: More about LabelEncoder class: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html


Expected result:


      size  color  gender  price  weight  bought
    0   XL    red  female  199.0   500.0       1
    1    L  green    male   89.0   450.0       0
    2    M   blue    male   99.0   300.0       1
    3    L  green  female  129.0   380.0       0
    4    M    red  female   79.0   410.0       1

In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [8]:
data = { 'size':['XL','L','M','L','M'],
        'color':['red','green','blue','green','red'],
        'gender':['female','male','male','female','female'],
        'price':[199,89,99,129,79],
        'weight':[500,450,300,300,410],
        'bought':['yes','no','yes','no','yes']
}
df = pd.DataFrame(data)
df

  size  color  gender  price  weight bought
0   XL    red  female    199     500    yes
1    L  green    male     89     450     no
2    M   blue    male     99     300    yes
3    L  green  female    129     300     no
4    M    red  female     79     410    yes

In [10]:
for col in ['size','color','gender', 'bought']:
  df[col] = df[col].astype('category')

df['weight']=df['weight'].astype('float')


le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])
print(df)

  size  color  gender  price  weight  bought
0   XL    red  female    199   500.0       1
1    L  green    male     89   450.0       0
2    M   blue    male     99   300.0       1
3    L  green  female    129   300.0       0
4    M    red  female     79   410.0       1