<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 34

The following df DataFrame is given:


       years  salary
    0      1    4000
    1      2    4250
    2      3    4500
    3      4    4750
    4      5    5000
    5      6    5250


The first column describes the years of experience (feature variable), the second column describes the salary (target variable).


Using the normal equation and the numpy package, find the linear regression equation.

In response, print the result to the console as shown below.


Expected result:


    Linear regression: 3750.00 + 250.00x

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'years': [1, 2, 3, 4, 5, 6],
                       'salary': [4000, 4250, 4500, 4750, 5000, 5250]})

In [4]:
m = len(df)
     
X1 = df['years'].values
Y = df['salary'].values

In [5]:
X1 = X1.reshape(m, 1)
bias = np.ones((m, 1))
X = np.append(bias, X1, axis=1)

In [6]:
coefs = np.dot(np.linalg.inv(np.dot(X.T, X)), np.dot(X.T, Y))
print(f'Linear regression: {coefs[0]:.2f} + {coefs[1]:.2f}x')

Linear regression: 3750.00 + 250.00x

In [10]:
# because today is 20/10 so key was checked. Let's learn tomorrow ^^, my bf is coming.