<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 31

The Breast Cancer Data was loaded into the data and target variables.


Using the train_test_split() function from the scikit-learn package, split the data (data and target) into train and test sets:

    train set: X_train, y_train

    test set: X_test, y_test

Set the random_state=40 and the test set size to 25%.

In response, print the shapes of these arrays to the console as shown below.


Tip: More about train_test_split(): https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html


Expected result:


    X_train shape (426, 30)
    y_train shape (426,)
    X_test shape (143, 30)
    y_test shape (143,)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer
import numpy as np
import pandas as pd

In [8]:
 
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 200)
np.set_printoptions(precision=2, suppress=True, linewidth=100)

In [9]:
lbc = load_breast_cancer()
data = lbc['data']
target = lbc['target']
data2 = np.c_[data,target]
df = pd.DataFrame(data2)
df

        0      1       2       3        4   ...      26      27      28       29   30
0    17.99  10.38  122.80  1001.0  0.11840  ...  0.7119  0.2654  0.4601  0.11890  0.0
1    20.57  17.77  132.90  1326.0  0.08474  ...  0.2416  0.1860  0.2750  0.08902  0.0
2    19.69  21.25  130.00  1203.0  0.10960  ...  0.4504  0.2430  0.3613  0.08758  0.0
3    11.42  20.38   77.58   386.1  0.14250  ...  0.6869  0.2575  0.6638  0.17300  0.0
4    20.29  14.34  135.10  1297.0  0.10030  ...  0.4000  0.1625  0.2364  0.07678  0.0
..     ...    ...     ...     ...      ...  ...     ...     ...     ...      ...  ...
564  21.56  22.39  142.00  1479.0  0.11100  ...  0.4107  0.2216  0.2060  0.07115  0.0
565  20.13  28.25  131.20  1261.0  0.09780  ...  0.3215  0.1628  0.2572  0.06637  0.0
566  16.60  28.08  108.30   858.1  0.08455  ...  0.3403  0.1418  0.2218  0.07820  0.0
567  20.60  29.33  140.10  1265.0  0.11780  ...  0.9387  0.2650  0.4087  0.12400  0.0
568   7.76  24.54   47.92   181.0  0.05263  ...  0.0000  0.0000  0.2871  0.07039  1.0

[569 rows x 31 columns]

In [11]:
X_train ,X_test , y_train,y_test  = train_test_split(data,target , random_state = 40 , test_size =0.25)

In [12]:
print(f'X_train shape {X_train.shape}')
print(f'y_train shape {y_train.shape}')
print(f'X_test shape {X_test.shape}')
print(f'y_test shape {y_test.shape}')

X_train shape (426, 30)
y_train shape (426,)
X_test shape (143, 30)
y_test shape (143,)