<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day74.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 73

A transactions DataFrame (transaction database) containing data in a certain grocery store is given:


                       products
    1                bread eggs
    2           bread eggs milk
    3               milk cheese
    4       bread butter cheese
    5                 eggs milk
    6  bread milk butter cheese


Each row contains products purchased by one customer. Split each row of the products column by a space character and extend to the DataFrame object. The object should have four columns (maximum number of products in one transaction). In the missing places put None as shown below and assign to expanded variable.

In response, print the expanded variable to the console.


Expected result:


           0       1       2       3
    1  bread    eggs    None    None
    2  bread    eggs    milk    None
    3   milk  cheese    None    None
    4  bread  butter  cheese    None
    5   eggs    milk    None    None
    6  bread    milk  butter  cheese

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    "products": [
        "bread eggs",
        "bread eggs milk",
        "milk cheese",
        "bread butter cheese",
        "eggs milk",
        "bread milk butter cheese",
    ]
}

In [ ]:
transactions = pd.DataFrame(data=data, index=range(1, 7))
expanded = transactions['products'].str.split(expand=True)

In [ ]:
products = []
for col in expanded.columns:
    for product in expanded[col].unique():
        if product is not None and product not in products:
            products.append(product)
products.sort()

In [ ]:
print(products)

['bread', 'butter', 'cheese', 'eggs', 'milk']