<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 7

The df DataFrame is given below:


      size  color  gender  price  weight bought
    0   XL    red  female  199.0   500.0    yes
    1    L  green    male   89.0   450.0     no
    2    M   blue     NaN    NaN   300.0    yes
    3  NaN  green  female  129.0     NaN     no
    4    M    red  female   79.0   410.0    yes
    5    M  green    male   89.0     NaN     no


Extract columns of object type from this DataFrame. Then fill in all the missing values for these columns with the value 'empty'.

Assign the result to the df_object variable and print it to the console.


Expected result:


        size  color  gender bought
    0     XL    red  female    yes
    1      L  green    male     no
    2      M   blue   empty    yes
    3  empty  green  female     no
    4      M    red  female    yes
    5      M  green    male     no

In [12]:
import pandas as pd
import numpy as np

In [19]:
data = {'size':['XL','L','M',np.nan,'M','M'],
        'color':['red','green','blue','green','red','green'],
        'gender':['female','male',np.nan,'female','female','male'],
        'bought':['yes','no','yes','no','yes','no']}

df = pd.DataFrame(data)
df

  size  color  gender bought
0   XL    red  female    yes
1    L  green    male     no
2    M   blue     NaN    yes
3  NaN  green  female     no
4    M    red  female    yes
5    M  green    male     no

In [17]:
# ======= outline to solve prblm
# df.type =='object'
# [df.isnull()].fill =>  pd.Series.fillna('empty')

# Extract columns of object type from this DataFrame. 
df_object = list (df.select_dtypes(['object']).columns)

# Then fill in all the missing values for these columns with the value 'empty'.
df_object = df.fillna('empty')


# Assign the result to the df_object variable and print it to the console.

In [18]:
df_object

    size  color  gender bought
0     XL    red  female    yes
1      L  green    male     no
2      M   blue   empty    yes
3  empty  green  female     no
4      M    red  female    yes
5      M  green    male     no

In [20]:
# key
df = df.select_dtypes(['object']).fillna('empty')
df

    size  color  gender bought
0     XL    red  female    yes
1      L  green    male     no
2      M   blue   empty    yes
3  empty  green  female     no
4      M    red  female    yes
5      M  green    male     no