<a href="https://colab.research.google.com/github/chaugaialberteinstein/112_days_code_challenge/blob/main/Day_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 13

The df DataFrame is given below:


                   currency
    0            [PLN, USD]
    1  [EUR, USD, PLN, CAD]
    2                 [GBP]
    3       [JPY, CZK, HUF]
    4                    []


Assign a new column 'PLN_flag' which stores 1 when the currency 'PLN' is in the currency column, otherwise 0 as shown below.

In response, print df DataFrame to the console.


Expected result:


                   currency  PLN_flag
    0            [PLN, USD]         1
    1  [EUR, USD, PLN, CAD]         1
    2                 [GBP]         0
    3       [JPY, CZK, HUF]         0
    4                    []         0

In [1]:
import pandas as pd

In [6]:
data = {'currency': [
    ['PLN', 'USD'],
    ['EUR', 'USD', 'PLN', 'CAD'],
    ['GBP'],
    ['JPY','CZK', 'HUF'],
    []
]}
df = pd.DataFrame(data=data)
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [9]:
df['PLN_flag'] = df['currency'].apply(lambda i: 1 if 'PLN' in i else 0)
print(df)

               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

In [11]:
#wrong answser 
#df['PLN_flag'] = df['currency'].apply(count('PLN')
# df